@using Capstone8CarList.Models;

@{
    ViewBag.Title = "Home Page";
}


<h2>Search for a Fancy Car!</h2>

<br />
<br />

<form action="Home/GetCarsByMake" class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" name="make" aria-describedby="emailHelp" placeholder="Make">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />
<br />

<form action="Home/GetCarsByModel" class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" name="model" aria-describedby="emailHelp" placeholder="Model">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />
<br />

<form action="Home/GetCarsByYear" class="form-inline">
    <div class="form-group">
        <input type="text" class="form-control" name="year" aria-describedby="emailHelp" placeholder="Year">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />
<br />


<form action="Home/GetCarsByColor" class="form-inline">
    <div class="form-group mb-2">
        <input type="text" class="form-control" name="color" aria-describedby="emailHelp" placeholder="Color">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

